{% extends 'template_base.html'%}

{% block confirm_article_eglise %}

<div class="container mt-5 mb-5">
    <form action="" method="POST">
        {% csrf_token%}
        <p>Voulez vous supprimer cet article?</p>
        <div class="row">
            <div class="col-6 text-center">
           <input  type="submit" value="supprimer" class="btn btn-danger">
        </div>
        <div class="col-6">
           <a href="{% url 'actualites_eglise'  %}" class="btn btn-primary">Non</a>
        </div>
    </div>
    </form>
</div>
{%endblock%}