{% extends 'template_base.html'%}


{% block login %} 

 <div class="container mt-4">
      <div class="col-md-12 mt-4">
        {% if messages %}
            {% for message in messages%}
              <div class="alert alert-danger text-center"><strong> {{message}} </strong></div>
            {% endfor%}
        {% endif %}
        <form action="" method="POST" >
             {% csrf_token %}
            <div class="card">
                <div class="card-header text-center" ><i class="fas fa-user"></i> Page d'Administration</div>
                 <div class="card-body">
                       <!-- <input type="text" placeholder="Nom utilisateur" name="username" class="form-control mb-2" required>
                       <input type="password" placeholder="Mot de passe" name="pwd" class="form-control" required> -->
                    
                       <!-- {{form}}   -->
                       <label for="id_username"> Nom Utilisateur</label>
                       {% if form.username.errors%}
                       {% for error in form.username.errors %}
                     <div class="div-error-{{form.username.name}}">   <small class="text-danger"> {{error}} </small></div>
                       {%endfor%}
                       {% endif %}
                         {{form.username}}


                       <label for="id_pwd">Mot de passe</label>
                       {% if form.username.errors%}
                       {% for error in form.username.errors %}
                     <div class="div-error-{{form.pwd.name}}">   <small class="text-danger"> {{error}} </small></div>
                       {%endfor%}
                       {% endif %}
                         {{form.pwd}}
                </div>
                 <div class="card-footer text-center">
                       <button class="btn btn-primary btn-block"> se connecter</button>
                 </div>
                
             </div>
        </form>
       
    </div>
 </div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
          $('input').keyup(function(){
                let textSaisi = $(this).val();
                
                let attrName= $(this).attr('name');
                let validatorElement = ".div-error-"+attrName;
                if(textSaisi ==""){
                     if(!$(this).hasClass('is-invalid')){
                        $(this).addClass('is-invalid');
                        $(validatorElement).show();
                     }

                } else {
                    $(this).removeClass('is-invalid');

                    $(validatorElement).hide();
                }

          })

    })
 
    
</script>
{% endblock%}