{% extends 'template_aller_au_kt.html'%}
{% load static %}



{% block titre_aller_kt %}
Aller Au KT 
{% endblock %} 

{% block aller_au_kt%}

         
           <div class="row">
            <div class="col-sm-6">
            <img class="w-100" src="{% static 'images/kt.png' %}" alt="">
            </div>
            <div class="col-sm-6">
                <p class="mt-3 text-justify"> <b>
                    Catéchèse ou catéchisme, c'est à tout âge que Dieu et l'Eglise nous enseigne la foi. Le mot <i> "catéchèse"</i> vient d'un verbe grec qui signifie "faire retentir", comme peut retentir une information, une nouvelle. Justement, la catéchèse ou le catéchisme, c'est la (re-)découverte de la Bonne Nouvelle que le Seigneur Jésus a donnée par sa prédication, sa mort et sa résurrection. Il a chargé ses disciples de poursuivre son enseignement pour tout le monde, avec l'aide de l'Esprit Saint. Votre paroisse assume cette mission pour les enfants, mais aussi pour les adultes, pour les jeunes, les vieux... Oui, pour vous aussi ! C'est un trésor.
                
                Soit pour vous-même, soit pour votre enfant, renseignez-vous à l'accueil paroissial. </b>
                
            </div>
                
          </div>
        


{% endblock %}