{% extends 'template_aller_au_kt.html'%}
{% load static %}



{% block titre_aller_kt %}
Aumonerie des Jeunes de 4è/3è/Lycée
{% endblock %} 

{% block parcours_confirmation %}
<h5 class="text-center text-warning">inscriptions FRAT</h5>
                <div class="row  m-3">
                    <div class="col-4 mb-4">
                      
                      <img  class="w-100 p-4 " src="{% static 'images/JMJ2.jpg'%}" alt=""> 
                
                    </div>
                    <div class="col-8  text-justify">
                       <br>
                       <H5 class="text-justify">
                       Pour vous inscrire il faut : <br>

1. Faire son inscription sur le lien <a href="https://plequevil2023-lourdes.venio.fr/fr" target="_blank">suivant </a> 
<br>

 

2. Déposer dans la boîte aux lettres de Villiers, la QEB ou le Plessis : <br>

- Autorisation parentale FRAT 2023 <br>

- Fiche sanitaire de liaison FRAT 2023 <br>

-- Chèque de 375€ tarif normal (ou 324€ tarif famille) à l’ordre de

Plequevil
<br>
3. Envoyer un SMS à l’une d’entre pour nous signaler que vos papiers

sont dans la boîte aux lettres.

Flora (responsable du groupe et animatrice pour Villiers) : 065551730

Emma (animatrice pour la queue en brie) : 0781585865

Elena (animatrice pour le plessis) : 0676632805

La date butoir est le vendredi 17 février, (date de notre prochaine

réunion au 17 Rue des Fossés, 94350 Villiers-sur-Marne à 19h).


</H5>     
                     </div>
                </div>
                <div class="mt-5 mB-5 p-3">
                <h5 class="text-warning text-center"> Aumônerie des jeunes de 4e / 3e / Lycée </h5> <br>
                <div class=" p-3">
                Responsable de l'année : Christine DIOUF <br>

 

<b> - Calendrier des rencontres :</b>
<br>
de 15h30 à 18h à Ste Anne 17, rue des Fossés

suivies par la messe à 18h30 à l'église

12 novembre - 3 décembre  -  14 janvier 2023  - 11 février (exceptionnellement à l'église)  - 18 mars   - 1er avril  - 20 mai - 24 juin
<br>
 <b>- Préparation au baptême du CM1 - 3eme</b>
 <div class="row">
    <div class="col-2 ">
      
        <a href="{% static 'images/calendrier bapteme 2022-23 du CM1 à la 3e (3).doc'%}"><img class="w-100 p-3 mR-3" src="{% static 'images/docs.png'%}" alt=""> </a>

    </div>
    <div class="col-10 p-3">
        <h5 class="text-primary">   Calendrier CE2</h5>
       
        calendrier bapteme 2022-23 du CM1 à la 3
        Document Microsoft Word 56.5 KB
    <br>
    
<br>  
<a href="{% static 'images/calendrier bapteme 2022-23 du CM1 à la 3e (3).doc'%}">Télécharger</a>
     </div>
    </div>
</div>

                </div>
{% endblock %}