{% extends 'celebrer.html'%}
{% load static %}
{% block titre_clebrer %}
Baptême
{% endblock %}
{% block bapteme %}
<p>
  <b>  Préparation au baptême</b>
<br>
    Préparation pour les enfants de l’Éveil à la foi <br>
    
   <i> " De toutes les nations faites des disciples, baptisez-les au nom du Père, et du Fils, et du Saint-Esprit." (évangile selon saint Matthieu 28, 19)</i> <br>
    
    Par le baptême, nous sommes membres du Christ et, grâce à Lui, nous devenons enfants de Dieu pour vivre avec l'Esprit saint. Cette foi ainsi reçue nous envoie avec toute l'Eglise annoncer la Bonne Nouvelle du salut pour le monde que Dieu aime comme un Père.
    
    Ce premier sacrement de la vie chrétienne est un don, un pur cadeau que nous recevons, et non un droit à exiger.
    
    Il est possible d'être baptisé à tout âge, mais un temps de préparation - appelé "catéchuménat"- est nécessaire.
    
     
    <br>
    <b> <br>
    Jusqu’à 4 ans
</b> <br> <br>
     
    
    Les parents sont invités à passer à l’accueil paroissial, 9, rue Guillaume Budé, au moins 2 mois avant la date souhaitée. Ils doivent être domiciliés sur la paroisse
    <br>
    Il leur sera proposé 2 rencontres <br>
    
    -        La première avec l’équipe de laïcs et d’autres parents. Vous pourrez y témoigner de votre engagement et de votre motivation à demander le baptême
    <br>
    -         La seconde avec les familles qui font baptiser leurs enfants le même jour avec le prêtre qui présidera cette entrée dans la famille chrétienne.
    <br>
    Les baptêmes ont lieu tous les dimanches à <b> 12h30.</b>
    
     
    
   <br> <br>  
    
   <b>Pour les enfants de 4 à 7 ans</b> 
    
     
    <br> <br>
    Un cheminement plus approfondi est proposé à l’enfant et ses parents dans le cadre de l’Éveil à la Foi.
    <br> <br>
     
    
   <b> Pour les jeunes en primaire</b>
    
     <br> <br>
    
    A partir du CE 2, les parents l’inscriront d’abord au catéchisme. La préparation s’étalera sur 2 années scolaires et sera ponctuée par des étapes.
    
     <br> <br>
    
  <b>  Pour les collégiens et lycéens</b>
    
     <br><br>
    
    Rencontrer le Père Paul pendant sa permanence à l'église le mardi de 16h à 18h
    
     
    <br> <br>
     
    
   <b> Pour les adultes</b>
    <br> <br>
     
    
    Le chemin vers les trois sacrements de l’initiation chrétienne, Baptême, Confirmation et Eucharistie, se fait dans le cadre du catéchuménat : un chemin marqué par plusieurs étapes, qui se fera à la fois avec d’autres adultes engagés dans une démarche analogue à la vôtre et  à votre rythme, avec un accompagnateur qui vous sera proposé.
    Prenez contact avec la permanence d’accueil qui vous accueillera avec joie et vous présentera les modalités du catéchuménat.
    
     <br> <br>
    <i>
      "Le saint Baptême est le fondement de toute la vie chrétienne, le porche de la vie dans l'Esprit et la porte qui ouvre l'accès aux autres sacrements." (Catéchisme de l'Eglise catholique, n°1213)
    </i>
      
</p>
{% endblock %}