{% extends 'template_aller_au_kt.html'%}
{% load static %}



{% block titre_aller_kt %}
Catéchèse du primaire 
{% endblock %} 

{% block cathechisme_du_primaire %}

<div class="row">
    <div class="col-2 mb-4">
      
        <img width="150" height="150" class="p-3 mR-3" src="{% static 'images/forma.jpg'%}" alt=""> 

    </div>
    <div class="col-10 p-3 text-justify">
       <br>
        Alice Bommier, -0157109828- <b class="text-primary"> alice.bommier@gmail.com</b> assure une permanence « catéchèse » à l'accueil, 9 rue Guillaume Budé tous les mercredis  de 19h à 20h, sauf pendant les vacances scolaires

 
           
     </div>
</div>
<div class="row">
    <div class="col-2 ">
      
        <a href="{% static 'images/calendrier bapteme 2022-23 du CM1 à la 3e (1).doc'%}"><img class="w-100 p-3 mR-3" src="{% static 'images/docs.png'%}" alt=""> </a>

    </div>
    <div class="col-10 p-3">
        <h5 class="text-warning">Préparation au baptême CM1 - 3emes</h5>
        calendrier bapteme 2022-23 du CM1 à la 3
        Document Microsoft Word 56.5 KB
    <br>
    
<br>  
<a href="{% static 'images/calendrier bapteme 2022-23 du CM1 à la 3e (1).doc'%}">Télécharger</a>
     </div>
</div>
<div class="row">
  
    <div class="col-2 ">
      
        <a href="{% static 'images/Calendrier CM1-CM2 fev à juin 23.doc'%}"><img class="w-100 p-3 mR-3" src="{% static 'images/docs.png'%}" alt=""> </a>

    </div>
    <div class="col-10 p-3">
        <h5 class="text-warning">  Calendrier CM1- CM2</h5>

Calendrier CM1-CM2 fev à juin 23.doc
Document Microsoft Word 48.5 KB
    <br>
    
<br>  
<a href="{% static 'images/Calendrier CM1-CM2 fev à juin 23.doc'%}">Télécharger</a>
     </div>
</div>
<div class="row">
    <div class="col-2 ">
      
        <a href="{% static 'images/Calendrier CE2 fev juin 23.odt'%}"><img class="w-100 p-3 mR-3" src="{% static 'images/docs.png'%}" alt=""> </a>

    </div>
    <div class="col-10 p-3">
        <h5 class="text-warning">   Calendrier CE2</h5>
       
        calendrier bapteme 2022-23 du CM1 à la 3
        Document Microsoft Word 56.5 KB
    <br>
    
<br>  
<a href="{% static 'images/Calendrier CE2 fev juin 23.odt'%}">Télécharger</a>
     </div>
</div>
{% endblock %}



