
{% extends 'template_aller_au_kt.html'%}
{% load static %}



{% block titre_aller_kt %}
Catéchèse de 6è et 5è 
{% endblock %} 

{% block cathechisme_6è_5è %}
<div class="row">
    <div class="col-2 mb-4">
      
        <img width="150" height="150" class="p-3 mR-3" src="{% static 'images/zzzz.jpg'%}" alt="">

    </div>
    <div class="col-10 p-3 text-justify">
       <br>
       <b>
        <H5>
       Soeur Selin, responsable des jeunes de 6e et de 5e

       09 73 68 00 81

Préparation au baptême du CM1  -  3eme </H5></b>
     </div>
</div>
<div class="row">
    <div class="col-2 ">
      
        <a href="{% static 'images/calendrier bapteme 2022-23 du CM1 à la 3e (2).doc'%}"><img class="w-100 p-3 mR-3" src="{% static 'images/docs.png'%}" alt=""> </a>

    </div>
    <div class="col-10 p-3">
        <H5>
        calendrier bapteme 2022-23 du CM1 à la 3
        Document Microsoft Word 56.5 KB
    </H5>
    <br>
    
<br>  
<a href="{% static 'images/calendrier bapteme 2022-23 du CM1 à la 3e (2).doc'%}">Télécharger</a>
     </div>
</div>
<div class="row">
  
    <div class="col-2 ">
      
        <a href="{% static 'images/Calendrier 6ème 2022-23.doc'%}"><img class="w-100 p-3 mR-3" src="{% static 'images/docs.png'%}" alt=""> </a>

    </div>
    <div class="col-10 p-3">
        <h5 class=""> Calendrier 6ème 2022-23.doc
            Document Microsoft Word 87.5 KB
    <br>
    
<br>  
<a href="{% static 'images/Calendrier 6ème 2022-23.doc'%}">Télécharger</a>
     </div>
</div>
<div class="row">
    <div class="col-2 ">
      
        <a href="{% static 'images/Calendrier des 5ème 2022-23.doc'%}"><img class="w-100 p-3 mR-3" src="{% static 'images/docs.png'%}" alt=""> </a>

    </div>
    <div class="col-10 p-3">
        <h5 class="">  Calendrier des 5ème 2022-23.doc
            Document Microsoft Word 92.5 KB
    <br>
    
<br>  
<a href="{% static 'images/Calendrier des 5ème 2022-23.doc'%}">Télécharger</a>
     </div>
</div>
{% endblock %}