{% extends 'celebrer.html'%}
{% load static %}
{% block titre_clebrer %}
Célébration de la foi
{% endblock %}
Célébration de la foi
{% block celebration_foi %}
<p>
    Lorsque nous célébrons avec l'Eglise, c'est le Christ lui-même, le Seigneur, qui célèbre une liturgie  englobant les anges et les hommes, les vivants et les morts, le passé, le présent et le futur, le ciel et la terre. Nous entrons ainsi dans l'éternelle et céleste célébration de l'amour divin. Parce que Dieu est amour, il veut nous faire participer à sa vie et nous offrir sa bénédiction.  
</p>
{% endblock %}