{% extends 'template_base.html'%}
{% load static %}

{% block celebrer %}


<div class="container">
    <h1 class="text-warning text-center mt-5"> {% block titre_clebrer %}

        {% endblock %}
    </h1>
    <hr>
    </div>
    <div class="container mB-5 mt-5">
        <div class="row">
              <div class="col-sm-3  ">
                 <ol class=" p-0 aller_au_kt">
                   
                    <li width ="">
             <b>       <a class="text-warning" href="{% url 'bapteme'%}">  Baptême  </a>
                   
                    </li>
                    <li>
                    <a class="text-warning" href="{% url 'eucharistie'%}">  Eucharistie  </a>
                  
                    </li>
                    <li>
                        <a class="text-warning" href="{% url 'confirmation' %}">  Confirmation </a>
                      
                    </li>
                    <li>
                        <a class="text-warning" href="{% url 'reconciliation'%}">   Réconciliation  </a>
                      
                    </li>
                    <li>
                        <a class="text-warning" href="{% url 'mariage'%}">  Mariage  </a>
                      
                    </li>
                    <li>
                        <a class="text-warning" href="{% url 'sacrement_malade'%}">   Sacrement des malades  </a>
                      
                    </li>
                    <li>
                        <a class="text-warning" href="{% url 'funéraille'%}">   Funérailles  </a>
                      
                    </li>
                    <li>
                        <a class="text-warning" href="{% url 'calendrier'%}">  Calendrier  </a>
                      
                    </li>
                </b>
                 </ol>
              </div>
    
              <div class="col-sm-9   cathechisme">
    
                <div class="container p-3 text-justify  mb-3 cathechisme">
                    {% block bapteme %}

                    {% endblock %}
 
                    {% block celebration_foi %}

                    {% endblock %}
                    {% block Eucharistie %}

                    {% endblock %}
                    {% block confirmation %}

                    {% endblock %}
                    {% block reconciliation %}

                    {% endblock %}
                    {% block Sacrement_malade %}

                    {% endblock %}
                     
{% block Mariage %}

{% endblock %}
{% block Funérailles %}

{% endblock %}
{% block Calendrier%}
{% endblock %}
</div>
                    
    </div>
    
    </div>
    
    </div>
{% endblock %}