{% extends 'template_base.html'%}
{% load static %}

{% block Chorale %}

<div class="container">
    <h1 class="text-warning text-center mt-5"> Chorale</h1>
    <hr>
    </div>
    <div class="container mB-5 mt-5">
        <div class="row">
              <div class="col-sm-3  ">
                <ol class=" p-0 aller_au_kt">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li width ="">
             <b>       <a class="text-white" href="{% url 'prier_celebrer'%}">  Pour Prier et célébrer   </a>
                    <ul>
                        
                    
                        <li> <a class="text-white" href="{% url 'equipe_animation_liturgique'%}">Equipe d'animation Liturgique</a> </li>
                        <li> <a class="text-white" href="{% url 'equipe_animation_paroissiale'%}">Equipe d'animation paroissiale</a>  </li>
                        <li> <a class="text-white" href="{% url 'chorale'%}"> Chorale </a></li>
                    
                    </ul>
                    </li>
                    <li>
                    <a class="text-white" href="{% url 'pour_en_aider'%}"> Pour s'entraider </a>
                    <ul>
                        
                    
                        <li> <a class="text-white" href="{% url 'conseil_economique_paroissiale' %}">Conseil Economique paroissial</a> </li>
                        <li> <a class="text-white" href="{% url 'dernier_de_eglise'%}">Dernier de l'Eglise</a>  </li>
                        <li> <a class="text-white" href="{% url 'secours_catholique'%}"> Secours Catholique </a></li>
                        <li> <a class="text-white" href="{% url 'société_saint_vincent_paul'%}"> Société de Saint-Vincent De-Paul </a></li>
                        <li> <a class="text-white" href="{% url 'CCFD'%}"> CCFD </a></li>
                        <li> <a class="text-white" href="{% url 'pour_sinformer'%}"> Pour s'informer : la feuille paroissiale </a></li>
                        <li> <a class="text-white" href="{% url 'chantier_cardinal'%}"> Chantiers du cardinal </a></li>
                    </ul>
                    </li>
                    <li>
                        <a class="text-white" href="{% url 'communaute_religieuse' %}">  Communautés religieuses </a>
                      
                    </li>
                    <li>
                        <a class="text-white" href="{% url 'guide_scouts'%}">   Guides et Scouts d'Europe  </a>
                      
                    </li>
                
                </b>
                 </ol>
              </div>
    
              <div class="col-sm-9   cathechisme">
    
                <div class="container p-3 text-justify  mb-3 cathechisme"> <br>
<p>
    Vous aimez chanter ? Vous jouez d'un instrument de musique ? Rejoignez la chorale paroissiale !  Vous n'êtes pas obligés de savoir lire la musique et les qualités de virtuose ne sont pas exigées. Le plaisir, la joie et la bonne humeur sont largement suffisants.
<br>
    Les répétitions ont lieu à Sainte Anne -17 rue des Fossés- <b> tous les mercredis de 20h15 à 22 h</b> <br>
    
 <b>   Contacts :</b> 06 98 20 31 17 /   06 63 46 84 53 

</p> <br>
<div class="container text-center">
<img src="{% static 'images/chorale.png'%}" alt="">
</div>
                </div> 
              </div>
        </div> 
    </div>   
{% endblock %}