
{% extends 'template_aller_au_kt.html'%}
{% load static %}



{% block titre_aller_kt %}
1ère Communion
{% endblock %} 

{% block communion %}
<div class="row p-3">
    <div class="col-2">
        <a href="{% static 'images/calendrier 1ere communion 2023.doc'%}"> <img class="w-100" src="{% static 'images/docs.png'%}" alt=""> </a>
    </div>
    <div class="col-10 p-3">
<h4>calendrier 1ere communion 2023.doc
Document Microsoft Word 40.0 KB</h4>

<a class="p-3" href="{% static 'images/calendrier 1ere communion 2023.doc'%}">     Télécharger  </a>


    </div>
</div>
</div>
  
{% endblock %}