{% extends 'celebrer.html'%}
{% load static %}
{% block titre_clebrer %}
Confirmation
{% endblock %}

{% block confirmation %}
<i>
    "Le Défenseur, l'Esprit saint que le Père enverra en mon nom, lui, vous enseignera tout, et il vous fera souvenir de tout ce que je vous ai dit." (évangile selon saint Jean 14, 26)
</i> <br>  <br>
<div class="container text-center">
<img src="{% static 'images/esprit.jpg'%}" alt="">
</div> <br> <br>
<p>
    Don de l'Esprit saint offert aux baptisés pour faire d'eux des témoins, le sacrement de confirmation est proposé par l'Eglise aux jeunes à partir de la 3e. La préparation se fait dans le cadre de l'aumônerie.

    Les adultes baptisés peuvent aussi être confirmés s'ils ne l'ont pas déjà été. Ils seront alors invités à une préparation spécifique. 
<br>
<i>
    " La confirmation parfait la grâce baptismale ; elle est le sacrement qui donne l'Esprit saint pour nous enraciner plus profondément dans la filiation divine, nous incorporer plus fermement au Christ, rendre plus solide notre lien avec l'Eglise, nous associer davantage à sa mission et nous aider à rendre témoignage de la foi chrétienne par la parole accompagnée des oeuvres." (Catéchisme de l'Eglise catholique, n° 1316)   
</i>
</p>
{% endblock %}