{% extends 'template_base.html'%}
{% load static %}

{% block coquille %} <br> <br>
<h1 class="text-center text-warning mb-5">La Coquille</h1>
<div class="container mb-5 mt-5 p-3 text-justify cathechisme">

<p>
    <b>
    L'association paroissiale « La Coquille » vient d’être créée.

 

L’activité de l’Association a pour but, en lien avec la paroisse et l’Association Diocésaine de Créteil, de mettre en œuvre et soutenir des actions socioculturelles auprès des enfants, des jeunes et des adultes sur la commune de Villiers-sur-Marne

Siège social : 9 rue Guillaume BUDE – 94350  Villiers sur marne <br> <br>

 <b class="text-warning"> Président :</b> Yoann VAZ <br>

 <b class="text-warning">Vice-présidente : </b>Arnaud RONCIERE  <br>

    <b class="text-warning">Secrétaire : </b>Isabelle de MESLON <br>

        <b class="text-warning">Membre de droit : </b>Père Paul N'GUYEN <br>

            <b class="text-warning">Membres : </b> Bernard PEAN et Rodrigue FRANCILLONNE <br>

</b>
</p>
</div>
{% endblock %}