{% extends 'celebrer.html'%}
{% load static %}
{% block titre_clebrer %}
Eucharistie
{% endblock %}
{% block Eucharistie %}
<div class="container text-center">
<img src="{% static 'images/eucharistie.jpg'%}" alt="">

</div>
<br> 
<p>
    <i>
        "Seigneur, je ne mérite pas que tu entres sous mon toit ; mais dis seulement un mot et mon enfant sera guéri." (Matth.8, 8)   
    </i> <br> <br>
    Chaque célébration eucharistique est toujours et à chaque fois la Cène unique que Jésus a célébrée avec ses disciples, et en même temps l'anticipation du banquet que le Seigneur célèbrera à la fin des temps avec l'humanité sauvée. Ce n'est pas nous, les hommes, qui faisons la messe - c'est le Seigneur qui nous appelle à la messe, et qui est là, présent mystérieusement. (Youcat, catéchisme de l'Eglise catholique pour les jeunes, n°212)
</p>
{% endblock %}