{% extends 'template_aller_au_kt.html'%}
{% load static %}



{% block titre_aller_kt %}
L'Eveil à la foi 
{% endblock %} 

{% block eveil_a_la_foi %}



<h3 class="text-warning text-center"> Eveil à la foi, éveil à la sainteté</h3> <br>
<div class="row">
 <div class="col-sm-6">
       <h5 class="mB-3 text-center">Préparation au baptême</h5>
       <div class="row">
              <div class="col-2">
                
                 <a href="{% static 'images/Dates préparation baptêmes pour Eveil à la foi  2022-2023 (1).doc'%}">  <img class="w-100" src="{% static 'images/docs.png'%}" alt=""> </a>

              </div>
              <div class="col-10">
                 Dates préparation baptêmes pour Eveil à
Document Microsoft Word 44.0 KB
<br>  
                     <a href="{% static 'images/Dates préparation baptêmes pour Eveil à la foi  2022-2023 (1).doc'%}">Télécharger</a>
               </div>
       </div>
       <div class="row">
         <div class="col-2">
           
             <a href="{% static 'images/Calendrier Eveil à la foi 2022 2023.pdf'%}"><img class="w-100" src="{% static 'images/pdfs (ss1).png'%}" alt=""> </a>

         </div>
         <div class="col-10">
            Dates préparation baptêmes pour Eveil à
Document Microsoft Word 44.0 KB
<br>  
                <a href="{% static 'images/Calendrier Eveil à la foi 2022 2023.pdf'%}">Télécharger</a>
          </div>
  </div>
 </div>
 <div class="col-sm-6">
     <p class="mt-3 text-justify"> <b>
         La foi des tout-petits
     </b>
Vous voulez transmettre la foi chrétienne comme ce que vous avez de plus précieux. Et vous n’êtes pas les seuls… L’Evangile et la vie en Église se vivent <b>dès le plus jeune âge.</b> 

Cette année encore, les enfants de Villiers pourront avoir accès au catéchisme. Toute l’équipe de l’éveil à la foi se mobilise afin d’accueillir les plus petits, entre cinq et sept ans. Les rencontres se déroulent à Sainte-Anne (17 rue des Fossés à Villiers), au rythme d’une séance par mois environ. Un véritable moment de <b> partage</b> avec des activités très ludiques et conviviales autour de l’amour de notre Seigneur.

Soyez des nôtres si vous voulez : <br>

- faire prendre conscience à votre enfant de la présence de Dieu déjà dans sa vie, <br>

- tenter de donner aux plus petits le désir de connaître et vivre la Parole de Dieu, <br>

- répondre au désir du Christ qui nous dit dans l'Évangile : <i> « Laissez venir à moi les petits enfants, ne les empêchez pas. »</i> Les petits enfants ont droit à la Parole de Dieu.

<b>L’accueil paroissial</b>  se tient à votre disposition pour tous renseignements ou inscription.


     
 </div>
     
</div>

{% endblock %}