{% extends 'celebrer.html'%}
{% load static %}
{% block titre_clebrer %}
Funérailles
{% endblock %}

{% block Funérailles %}
<div class="container text-center">
<img src="{% static 'images/funéraille.jpg'%}" alt="">
</div> <br> 
<p>
    Cet adieu est un moment fort d'espérance, de prière et de recueillement dans l'église, sans toutefois être un sacrement ni obligatoirement une messe.
<br>
<br>
    Pour des raisons pratiques, les familles sont invitées à prendre contact d’abord avec les pompes funèbres. 
    <br> 
    La date de la cérémonie est arrêtée entre le secrétariat paroissial et le service de pompes funèbres.
    
    <br> <br>
    
    L’équipe «L’autre rive» qui accueille les familles en deuil prendra alors contact avec vous pour la préparation de la célébration.  
</p>
{% endblock %}