
{% extends 'template_base.html'%}
{% load static %}

{% block histoire %}

<div class="container">
     <h1 class="text-warning text-center mt-5 mb-3">     Histoire de notre église St Jacques - St Christophe</h1>
    <br>
    
 

<h3 class="text-warning"> LES ORIGINES </h3>

 <div class="p-3 grande_nerf">
<p class="text-justify mb-3">
    <b>
Elles se perdent dans la nuit des temps. Un document de 1205 fait mention de «l’ecclesia de Vilari ». Autrefois, l’église paroissiale était l’un des principaux lieux du village ; aujourd’hui, c’est l’édifice le plus ancien de Villiers.

Il se compose d’un clocher et de 2 nefs, mais combien de siècles pour en arriver là !

L’église primitive doit dater du XIIIème siècle. Le clocher a été construit devant cette église au XIVème siècle.

Une première restauration eut lieu après la guerre de cent ans (1337 – 1453), ainsi que l’adjonction d’un bas côté (XVème siècle)

A la fin des guerres de religion (1562 – 1598) une reconstruction presque totale eut lieu, avec construction de 2 travées supplémentaires à l’Est.

Enfin, une dernière adjonction (XVII ou XVIIIème siècle ?) eut lieu avec la chapelle Sainte Anne.

La révolution de 1789 fit d’importants dégâts dans le bâtiment.

 

En 1902, devant l’état inquiétant de l’ensemble, l’architecte villiérain Charles QUÉRU abattit les 3 premières travées (Ouest) des 2 nefs, rehaussa la toiture et consolida  le clocher .

Cent ans après, la municipalité, dans le cadre de la rénovation du centre ville, procéda à d’importants travaux : consolidation du clocher par micropieux, reprise des contreforts, réfection totale du sol (pierre d’Ampilly et tomettes après pose d’un réseau électrique chauffant pour évacuer l’humidité importante).

Après de bref rappel historique, faisons le tour de cette église en partant du clocher ; ce sera un peu un pèlerinage au cœur du vieux Villiers.
</b>    
</p>
<div class="row">
    <div class="col-6">
<img  class="w-100" src="{% static 'images/paroisse.jpg'%}" alt="">
</div>
</div>
</div>
<h5 class="text-warning mt-5 mb-3">1-Le CLOCHER</h5>
<div class="row P-3 clocher">
   <div class="col-sm-6 text-justify">
         <img height="200" width="175" src="{% static 'images/clocher.jpg' %}" alt="">
         <p>
           <b>
            Rehaussé au XVème siècle, il s’élève à 27 mètres du sol. Une tribune existait autrefois, éclairée par un œil de bœuf en face Ouest.
           </b>
         </p>
         <p>
            <b>
                C’était au son de la cloche que les notables de Villiers se rassemblaient dans l’église pour discuter des affaires concernant le village.

Avant la révolution de 1789, il y avait trois cloches : deux furent détruites, la plus grosse fut conservée. Malheureusement, elle était en mauvais état et en 1805, on dut la remplacer par Martine qui existe toujours.

En 1930, deux autres cloches l’ont rejointe : Marie Ange Clothilde et Francine Berthe Hélène.
            </b>
         </p>
   </div>
   <div class="col-sm-6">
        <div class="row mb-3">
             <div class="col-6">
                 <img class="w-100" src="{% static 'images/1.jpg'%}" alt="">
             </div>
             <div class="col-6">
                <img width="255" height="191.25" class="w-100" src="{% static 'images/2.jpg'%}" alt="">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <img width="255" height="191.25" class="w-100" src="{% static 'images/3.jpg'%}" alt="">
            </div>
            <div class="col-6">
               <img width="255" height="191.25" class="w-100" src="{% static 'images/4.jpg'%}" alt="">
           </div>
       </div>
   </div>
</div>
<h5  class="text-warning mt-5">2. LA GRANDE NEF</h5>
<div class="p-4 grande_nerf">

    

 <P class="text-justify">
    <B>
        Les 3 premières travées sont du XXème siècle. Elles remplacent celles de style gothique briard, abattues par Quéru (traces visibles à l’extérieur sur les baies du mur Nord).
    
        Les voûtes sont maintenant soutenues par de massives colonnes sans chapiteaux.
        
        Les 2 dernières travées à l’Est sont du XVIème siècle.
    </B>
 </P>
<div class="row">
  <div class="col-sm-3 col-6 mb-2">
       <div class="card" style="width: 12rem;">
        <img  src="{% static 'images/BENITIER.jpg'%}" class="card-img-top " alt="...">
        <div class="card-body">
          <h5 class="card-title text-warning">Le Bénitier</h5>
          <p class="card-text text-justify">Tout de suite à votre droite, un très beau bénitier de marbre rose et blanc en forme de coquille.</p>
        </div>
       </div>
  </div>
  
<div class="col-sm-3 col-6 mb-2">
    <div class="card" style="width: 12rem;">
     <img src="{% static 'images/plaque.jpg' %}" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title text-warning">Plaque 1914 – 1918</h5>
       <p class="card-text text-justify">

 

        A gauche, des plaques de marbre invitent à se souvenir des villiérains morts pour la France durant la guerre 1914 – 1918.
        
        92 noms pour Villiers qui comptaient 3200 habitants. ..</p>
     </div>
    </div>
</div>
<div class="col-sm-3 col-6">
    <div class="card" style="width: 12rem;">
     <img src="{% static 'images/font.jpg'%}" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title text-warning">Les Fonts baptismaux</h5>
       <p class="card-text text-justify">

 

        A gauche dans la quatrième travée, datant du XVIIIème siècle, ils sont en marbre noir veiné de blanc, de forme ovale et ornés de deux têtes de chimères.</p>
     </div>
    </div>
</div>
<div class="col-sm-3 col-6">
    <div class="card" style="width: 12rem;">
     <img src="{% static 'images/tete.jpg'%}" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title text-warning">La Tête sculptée</h5>
       <p class="card-text text-justify">

        

 

        Cette tête minuscule, placée au-dessous du tailloir, regarde vers le chœur depuis la 4ème travée ; œuvre d’un ouvrier malicieux voulant assister à la messe par procuration ? 
</p>
     </div>
    </div>
</div>
</div>
  
<div class=" row  mt-2 p-3">
    
   <div class="col-sm-6 Pr-0 " >
      <img  src="{% static 'images/pierre.jpg'%}" alt="">
    
   </div>
   <div class="col-sm-6 ml-0 Pl-0" >
    <h5 class=" text-warning P-3">La Pierre de la Dédicace</h5>
      <p class="text-justify P-0">
<b>
 

        Placée au dessus du bénitier, c’est une des plus anciennes de France : 1501, qui mentionne nos Saints Patrons, Saint Jacques – Saint Christophe. Dans la partie supérieure, 4 personnages y sont représentés : au centre, assise sur un trône, la Vierge couronnée, avec l’enfant Jésus. De chaque côté, les donateurs, en prière, Thomas PAILLART et sa femme Jehanne.
        
        Voici le texte intégral, écrit en caractères gothiques :
        
        « Bones gens. Plaise vous sçavoir que ceste présente esglise est dédiée de St Jacques et St Christophe et fust dédiée le Dimanche devant la St Jehan l’an de grâce mil cinq cent et ung par la main de Révérend Père en Dieu, Monseigneur l’Evesque de Paris et sera à toujours la feste de la dicte dédicace le Dimanche devant la St Jehan. Et vous plaise de y venir gaigner les grans pardons et priés Dieu pour Thomas Paillart et Jehanne, sa femme lesquels de leurs bien ensembles ont faicts dédier ceste présente esglise. Priés Dieu pour touz les bienfaicteurs de céans et pour touz les trépassez. Amen, Pater Noster. Avé Marie pour touz les ames des trépassez ».
        
        Cette Pierre de la Dédicace est classée Monument Historique</b></p>
    </div>
</div>
  <div class="P-3 row mt-4 ">
    <div class="col-sm-4 col-6">
       <img height="500" class="w-100" src="{% static 'images/vitraux.jpg'%}" alt="">
    </div>
    <div class="col-sm-4 col-6">
        <img height="500" class="w-100"src="{% static 'images/vitraux2.jpg'%}" alt="">
     </div>
     <div class="col-sm-4 col-6">
        <h5 class="text-warning P-3">Les Vitraux</h5>
        <p class="text-justify">
            <b>
            • Une Piétà surmonte un cartouche représentant une scène de guerre de <br> 1914 – 1918, hommage de la donatrice, Mme Louis SELLIER, aux jeunes gens du patronage St Christophe, morts pour la France.
<br>
• St Christophe est représenté transportant l’Enfant Jésus sur ses épaules, au-dessous duquel on peut lire en latin : « CHRISTUS FERO ME FERAT CHRISTUS », ce qui signifie : « Je porte le Christ, que le Christ me porte ».
</b>      
</p>

     </div>
  </div>
  
</div>
<br>
<br>
<h5 class="text-warning">3- LA PETITE NEF</h5>
   <div class="p-3 grande_nerf">
    <b class="text-justify">
    Les deux travées à l’Est (XVIème siècle) sont intéressantes par leurs restes de décors : chapiteaux faiblement sculptés, clefs de voûte, dont la seconde, devant la porte de la sacristie a conservé, outre son écusson au centre (sans doute autrefois peint), 2 guirlandes circulaires et 3 motifs : une petite tête au Nord, rappelant celle de la grande nef, des os entrelacés (indiquant sans doute, la direction du caveau) et une colombe.
    </b>
    <div class="P-5 clocher">
        <div class="row  ">
         
           <div class="col-sm-6 text-justify">
            <h5 class="text-warning pt-3">Le chemin De Croix</h5> 
                 <p class="text-justify">
                   <b>
                     Il est la plus récente acquisition de l’église de Villiers (1987) . C’est l’œuvre d’une artiste villiéraine, Mme Gina COTTON, d’origine chilienne. L’artiste a voulu exprimer, à travers les souffrances du Christ, les souffrances de son propre pays. Il se compose de 15 stations, la dernière représentant le tombeau vide, signe de la résurrection du Christ.
                   </b>
                 </p>
                
           </div>
          
           <div class="col-sm-6">
                <div class="row mb-3">
                     <div class="col-6">
                         <img class="w-100" src="{% static 'images/c1.jpg'%}" alt="">
                     </div>
                     <div class="col-6">
                        <img  class="w-100" src="{% static 'images/C2.jpg'%}" alt="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <img  class="w-100" src="{% static 'images/C3.jpg'%}" alt="">
                    </div>
                    <div class="col-6">
                       <img  class="w-100" src="{% static 'images/C4.jpg'%}" alt="">
                   </div>
               </div>
               
           </div>
          </div>
   </div>

   <div class="row  m-0 p-5">
          <div class="col-sm-6 mb-2">
             <img class="w-100" src="{% static 'images/AUTEL.jpg'%}" alt="">
          </div>
          <div class="col-sm-6 text-justify">
            <h5 class="text-warning"> 

                Autel – Retable de la Vierge</h5>
            <b>
                L’autel secondaire, dédié à la Vierge avec ses deux pilastres ioniques et son fronton triangulaire orné d’un cœur rayonnant remplace l’autel précédent datant du XVIIIème tout en en conservant quelques éléments : anges adorateurs ; finesse et grâce, souplesse et virtuosité pour ces deux chérubins encadrant la niche. La main levée, désormais libre, portait à l’origine un étendard.

Au dessus de la niche du retable, un médaillon orné des lettres IHS, signifiant Iesus, Hominum Salvator (Jésus, Sauveur des Hommes), reprend la devise des Jésuites.

Sur le côté droit de l’autel, se trouve la statue de Sainte Anne enseignant Marie. 
            </b><br> <br>

            
          </div>
   </div>
   
  
     <div>

     </div>
     <div class="row  mt-3 mx-auto p-5">
        <div class="col-sm-6 mb-2">
           <img height="500" class="w-100" src="{% static 'images/vitrail.jpg'%}" alt="">
        </div>
        <div class="col-sm-6 text-justify">
            <h5 class="text-warning"> 

                Vitrail</h5>
          <b>
            Dit de la Sainte Famille, il représente la Vierge et Elizabeth avec Jésus et Jean. Joseph et Zacharie sont absents, seul apparaît Dieu le Père.
          </b><br> <br>

         
        </div>
     </div>
     <br>
     <br>
     <h5 class="text-warning">
        Le Caveau
        </h5>
        <DIv class=" P-3">
          <B>
            
        Au sous-sol, sous l’autel de la Vierge, se trouve le caveau de la famille Budé, profané à la Révolution. On y descendait par un escalier en pierre de six marches.
        
        Y reposent également deux anciens curés de Villiers :
        
        • Sébastien Ignace Barthoquin d’Augier 1742 - 1815
        
        • Abbé Barthe 1809 – 1851
        
        Une dalle, extractible, permet d’y descendre.
          </B>
        </DIv>
        <div class="row p-3 mx-auto mt-3">
            <div class="col-sm-6">
                <img class="w-100" src="{% static 'images/BAIE.jpg'%}" alt="">
            </div>
            <div class="col-sm-6">
                <h5 class="text-warning">La baie à réseau</h5>
              <b>
                Masquée jusqu’alors, elle a été retrouvée lors des récents travaux. Datant du XVIème siècle, à remplage de pierres taillées, comportait-elle un vitrail ? 
              </b>
              <br>
              <br>
              
            </div>
        </div>
        <div class="row p-3 mx-auto mt-3">
            <div class="col-sm-6">
                <img class="w-100" src="{% static 'images/PIERRES.jpg'%}" alt="">
               
            </div>
            <div class="col-sm-6 text-justify">
                <h5 class="text-warning mt-3">Les Pierres Tombales</h5>
              <b>
                Deux pierres tombales ont été fixées de part et d’autre de la sacristie.

• A gauche de la porte, une pierre du XVIème siècle, manifestant la présence de la famille Budé dans notre ville. Elle couvrait la tombe de Pierre Budé et de sa femme Anne Brachet. En voici la transcription.

« Soubz ceste tombe repose Pierre Budé, Escuier, Seigneur de Villiers et de Fleury et châtelain d’ière en partie, vivant Conseiller du Roi et Maistre des Eaux et Forès et Garennes de France, ville pruvoté, vicomté de Paris qui décéda le XVe octobre 1592 et Dame Anne Brachet, sa femme, fille de Monsieur Braschet, Seigneur de Néry en Valois et de Villiers en Beaus, Conseiller du Roi en sa Cour de Parlement de Paris, laquelle décéda en son Château de Villiers, en Décembre 1580. Fut remply de piété et de charité envers les pauvres leur faisant administrer ce qui leur étoit nécessaire. Elle a fondé un service en ceste paroisse qui se dict le lendemain de Noël comme il convient au martirologue ».

Cette pierre est classée Monument Historique (Janvier 1950).

• A droite de la porte, la plus petite comporte un texte en caractères gothiques : <br>
« Cy devant gist vénérable e discrète personne Maistre Jacques Guillot, en son vivant, seigneur de la Génitouze, solliciteur du Seigneur de Lude et aultres grans seigneurs au Palais à Paris, nactif du pays de Poitou, lequel décéda le XIIe jour de juillet mil cent cent trente quatre. Aussi gist honorable femme Perrine Bonnevin, en son vivant, femme de honorable homme messire Jean Jaudouyn, Procureur en la Cour de Parlement et fille de défunct honorable Messire Louis Bonnevin, en son vivant, huissier de la dicte cour et de défuncte Anthoynette Sonnot, laquelle décéda le IIe jour du mois d’aoust mil cinq cent cinquante et ung. Prié Dieu pour leurs âmes ».

Au dessus de ce texte, une Piétà, entourée de Saint Pierre à droite et (probablement) Saint Jacques à gauche.

A genoux, en oraison, une femme à droite et un homme à gauche ; derrière la femme : 4 enfants (les siens ?)
              </b>
              <br>
              <br>
             
            </div>
        </div>
        <div class="row  mb-5 p-3 mx-auto mt-3">
            <div class="col-sm-6">
                <img class="w-100" src="{% static 'images/CHAP.jpg'%}" alt="">
            </div>
            <div class="col-sm-6">
                <h5 class="text-warning">La Chapelle Sainte Anne</h5>
              <b>
                 

En nous dirigeant vers la sortie, nous passons par la chapelle Sainte Anne. Dans une niche, la statue de Notre Dame de Fatima, apportée par la communauté portugaise. Sur un piédestal, la statue de Sainte Thérèse de Lisieux.
              </b>
              <br>
              <br>
             
            </div>
        </div>
   </div>
   SSS
</div>

</div>
{% endblock %}

