{% extends 'template_base.html'%}
{% load static %}

{% block horaire_messe %}
<div class="container-sm text-center mt-5 mb-5">
{% if user.is_authenticated%}
{% for affiche in horaire_messe %}
<img class="w-100" src="{{ affiche.image.url }}"  alt="">
<a href="{% url 'annonces:update-horaire_messe' affiche.pk %} " class="btn btn-info  text-left"> <i class="fas fa-edit"></i></a>
{% endfor %}
{% else %}
<div class="row">  
<div class="col-2"></div>
{% for affiche in horaire_messe %}
<div class="col-8">
<img class="w-100" src="{{ affiche.image.url }}"  alt="">
</div>
{% endfor %}
<div class="col-2"></div>
</div>
{% endif %}
</div>
{% endblock %}