{% extends 'template_base.html'%}
{% load static %}

{% block infos_pratique %}
<div class="container pb-5 pt-5">
<h1 class="text-center text-warning mb-5">  INFOS PRATIQUES </h1>

<div class="row mb-5 P-3 infos_pratique">
    <div class="col-sm-6 ">
       <h1 class="text-warning">Accueil </h1>
       <p class="text-white">9, Rue Guillaume-Budé</p>
        <img class="w-100" src="{% static 'images/accueil.jpg' %}" alt="">
    </div>
    <div class="col-sm-6 text-white text-left Pl-5 pt-5 ">
       <br> 
       <br>
           <b> Mardi : </b>  Permanence des prêtres de 16h à 18h à l'église <br>

           <b> Mercredi à l'accueil  : </b>de 14h à 16h30   et de 19h à 20h  (pour des demandes concernant la catéchèse exclusivement) <br>
            
           <b> Samedi à l'accueil : </b> de 10h30 à 12 h <br>
            
              
            
            
            
            
            Secrétariat
            lundi, mardi, jeudi et vendredi
            
            de 8h15 à 12h  et de 14h à 17h30
            
            01 49 30 20 70
            

    </div>
</div>
<div class="row mb-3 P-3 infos_pratique">
     <div class="col-sm-6 ">
        <h1 class="text-warning">A L'Eglise </h1>
        <b class="text-white">5, Rue Guillaume-Budé</b> <br> <br>
         <img class="w-100" src="{% static 'images/paroisse.jpg' %}" alt="">
     </div>
     <div class="col-sm-6 text-left Pl-5 pt-4 ">
        <br> <br> <br> 
         <h4 class=" text-warning"> Messes dominicales à l'Eglise </h4>
         <b>
         <P class="text-white">  Samedi à 18 h 30  <br>

Dimanche à 9h en portugais  et 11h en français <br>

</P>
<h4 class="text-warning">
Messe en semaine à l'Eglise 
</h4>
 <P class="text-white"> Lundi, mardi, mercredi et vendredi :  18h30   
 <br>
Jeudi à 10h30
</b>
</P>
     </div>
</div>

<div class="row mb-3 P-3 infos_pratique">
    <div class="col-sm-6 ">
       <h1 class="text-warning">A la Chapelle du Sacré-Coeur de Gaumont </h1>
      <b class="text-white"> 29 Rue, Avenue mousquetaire</b>  <br> <br>
        <img class="w-100" src="{% static 'images/Sacre_coeur.jpg' %}" alt="">
    </div>
    <div class="col-sm-6 text-left Pl-5 pt-5 ">
       <br> <br> <br> <br>
        <h4 class=" text-warning"> Messes dominicales à l'Eglise </h4>
        <b class="text-white">
        Dimanche 10h15 <br>
        </b>

    </div>
</div>
<div class="row mb-3 P-3 infos_pratique">
    <div class="col-sm-6 ">
       <h1 class="text-warning ">A la Chapelle Sainte Anne-Salle Paroissiale  </h1>
    <p class="text-white">  17 Rue des fossés</p>
        <img class="w-100" src="{% static 'images/sainte_anne.jpg' %}" alt="">
    </div>
    <div class="col-sm-6 text-left Pl-5 pt-4 mt-0">
       <br>
       <br> <br> <br> <br>
        <h4 class=" text-warning"> Messes dominicales à l'Eglise </h4>
        <b class="text-white">
        Samedi à 18 h 30  <br>
        </b>

    </div>
</div>
<div class="row mb-3 infos_pratique ">
    <div class="col-12">
       <h1 class="text-warning ">Au vieux Colombier  </h1>
    <p class="text-white"> 20 avenue de l'Isle <br>
        
     <b>  Messe tous les troisièmes mercredis du mois à 15 heures. </b> 
        </p>
        
    </div>
    
</div>
 

<div class="text-center">
<h4 class="text-warning">   Local paroissial </h4>
<b>4  rue Albert Schweitzer - Villiers </b>  <br>
<h4 class="text-warning">permanences d'accueil</h4> <b>Lundi et jeudi de 15h à 17h30</b> 

<h4 class="text-warning">Secrétariat</h4>
<b>
lundi, mardi, jeudi et vendredi <br>

de 8h15 à 12h  et de 14h à 17h30 <br>

01 49 30 20 70
</b>

<h3 class="text-warning">Plan </h3>
<iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d780.9127037075643!2d2.5434481243286933!3d48.826419116977576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e60dd8d3bddfd3%3A0x869d0d118d5dea8d!2sEglise%20Catholique%20-%20Villiers-Sur-Marne!5e0!3m2!1sfr!2sfr!4v1677972577574!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
{% endblock %}