{% extends 'template_base.html'%}
{% load static %}

{% block liens_utils %}
<h1 class="text-warning text-center mt-5 p-3 mb-5">Quelques Liens Utiles </h1>
 <div class="container text-center   pt-3 pb-3 liens_utils">

   <div class="row">
 
         <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card ">
        
               <a href="https://www.egliseduplessis-trevise.com/" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/plessis-trevise.jpg'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://www.egliseduplessis-trevise.com/" target="_blank"> Paroisse du Plessis-Trévise </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
         <div class="col-sm-4  col-lg-3">
            <div class="card ">
        
               <a href="https://www.eglise-laqueue-enbrie.com/" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/queue.jpg'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://www.eglise-laqueue-enbrie.com/" target="_blank"> Paroisse la Queue en Brie </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
         <div class="col-sm-4  col-lg-3">
            <div class="card ">
        
               <a href="https://catholiques-val-de-marne.cef.fr/" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/diocese.jpg'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://catholiques-val-de-marne.cef.fr/" target="_blank"> Site du diocèse </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
         <div class="col-sm-4  col-lg-3 mb-3">
            <div class="card ">
        
               <a href="https://croire.la-croix.com/" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/croire.jpg'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://croire.la-croix.com/" target="_blank"> Croire </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
         <div class="col-sm-4  col-lg-3 mb-3">
            <div class="card ">
        
               <a href="https://www.vatican.va/content/vatican/fr" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/vatican.png'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://www.vatican.va/content/vatican/fr" target="_blank"> Vatican </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
         <div class="col-sm-4  col-lg-3 mb-3">
            <div class="card ">
        
               <a href="https://www.aelf.org/bible" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/aelf.jpg'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://www.aelf.org/bible" target="_blank"> Bible et Liturgie </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
   
      
         <div class="col-sm-4  col-lg-3 mb-3">
            <div class="card bg-dark">
        
               <a href="https://radionotredame.net/" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/radio.png'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://radionotredame.net/" target="_blank"> Radio Notre Dame </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
         <div class="col-sm-4  col-lg-3 mb-3">
            <div class="card ">
        
               <a href="https://www.ktotv.com/" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/kto.png'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://www.ktotv.com/" target="_blank"> KTO Télévision catholique  </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
         <div class="col-sm-4  col-lg-3 mb-3">
            <div class="card ">
        
               <a href="https://www.fillesdejesus.org/" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/fille.png'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://www.fillesdejesus.org/" target="_blank"> Fille de Jésus de Kermaria  </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
         <div class="col-sm-4  col-lg-3 mb-3">
            <div class="card ">
        
               <a href="https://missionsetrangeres.com/" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/mission.png'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://missionsetrangeres.com/" target="_blank"> Missions Etrangères </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
       
         <div class="col-sm-4  col-lg-3 mb-3">
            <div class="card ">
        
               <a href="https://www.secours-catholique.org/" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/secours.png'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://www.secours-catholique.org/" target="_blank"> Secours Catholique </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
         <div class="col-sm-4  col-lg-3 mb-3">
            <div class="card ">
        
               <a href="https://www.villiers94.fr/" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/mairi_villiers.png'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://www.villiers94.fr/" target="_blank"> Mairie de Villiers sur Marne </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
         <div class="col-sm-4  col-lg-3 mb-3">
            <div class="card ">
        
               <a href="https://eglise.catholique.fr/approfondir-sa-foi/" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/eglise_france.png'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://eglise.catholique.fr/approfondir-sa-foi/" target="_blank"> Prier chaque jour et préparer Dimanche </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
         <div class="col-sm-4  col-lg-3 mb-3">
            <div class="card ">
        
               <a href="https://soeursmariejosephetmisericorde.org/" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/soeur.jfif'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://soeursmariejosephetmisericorde.org/" target="_blank"> www.soeursmariejosephetmisericorde.org </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
         <div class="col-sm-4  col-lg-3 mb-3">
            <div class="card ">
        
               <a href="https://www.lourdes-france.com/" target="_blank"> <img width="253" height="190" class="card-img-top "   src="{% static 'images/lourde.jfif'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://www.lourdes-france.com/" target="_blank"> Prier le Chapelet en direct depuis la grotte de Massabielle de Lourdes </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
         <div class="col-sm-4  col-lg-3 mb-3">
            <div class="card ">
        
               <a href="https://www.catho94.com/" target="_blank"> <img  class="card-img-top "   src="{% static 'images/site_secteur.jPG'%}" alt=""> </a>
            
             
                 <div class="card-body text-white liens_utils">
                   
                  <a class="text-white"  href="https://www.catho94.com/" target="_blank"> site du secteur </a> 
                 
        
                 </div>
                   
            </div>
              
         </div>
   </div>
   
   

 </div>
 <br>
 <br>

{% endblock %}