{% extends 'celebrer.html'%}
{% load static %}
{% block titre_clebrer %}
Mariage
{% endblock %}

{% block Mariage %}
<div class="container text-center">
<img src="{% static 'images/mariage.jpg'%}" alt="">
</div>
<br> <br> 
<p>
    Vous souhaitez vous marier à l’église et nous nous en réjouissons. Dans un premier temps vous êtes invités à prendre contact avec l’accueil paroissial au moins six mois avant la date prévue du mariage.  

 
<br> <br>
    Ensuite nous vous proposerons :
    <br> <br>
     
    <b>
    - Deux soirées de réflexions avec d’autres couples, sur les engagements du mariage, son sens.
</b> <br>
    Il y sera question de votre histoire et de votre amour, ainsi que des engagements que vous choisissez de prendre en vous mariant en Eglise.
    <br> <br>
     
    <b>
    - Deux rencontres avec les prêtres
</b> <br>
    Elles ont pour but une connaissance réciproque et une préparation personnalisée de la célébration de votre mariage.   
</p>
{% endblock %}