
{% extends 'template_aller_au_kt.html'%}
{% load static %}



{% block titre_aller_kt %}
Pour aller loin... 
{% endblock %} 

{% block pour_aller_loin %}
<div class="container mt-5 mb-5 cathechisme">
 

    <h4 class="text-justify">
      Adulte, vous venez de recevoir le baptême ou la confirmation ou de communier pour la première fois : vous avez encore plein de choses à découvrir. C'est pourquoi vous sont proposées des rencontres pour mieux connaître la vie des chrétiens proches de vous, ou les activités dans votre paroisse. Contactez l'accueil de votre paroisse.
    </h4>
  
  </div>
   
   

    </div>
    
{% endblock %}
