{% extends 'celebrer.html'%}
{% load static %}
{% block titre_clebrer %}
Réconciliation
{% endblock %}

{% block reconciliation %}
<div class="container text-center">
<img src="{% static 'images/reconciliation.jpg'%}" alt=""> <br> <br>
</div>
<p>
    Le péché est une prison dont Dieu veut nous libérer. Demandez cette grâce auprès d'un prêtre  sur rendez-vous.
<br> <br>
Avant les grandes fêtes chrétiennes, des temps de confession sont prévus:  consultez l'affichage à l'église.


</p>


{% endblock %}