{% extends 'celebrer.html'%}
{% load static %}
{% block titre_clebrer %}
Sacrement des malades
{% endblock %}

{% block Sacrement_malade %}
<div class="container text-center">
 <img src="{% static 'images/sacrement_malade.jpg'%}" alt="">
</div> <br> 
<p>
    Jésus a manifesté souvent son attention aux malades et l'Eglise fait de même pour ce sacrement réconfortant, surtout lorsque survient la maladie. Téléphonez à l'accueil de votre paroisse pour vous ou pour un proche.  
</p>
{% endblock %}