{% extends 'template_base.html'%}
{% load static %}

{% block secour_catholique %}

<div class="container">
    <h1 class="text-warning text-center mt-5"> Secours catholique </h1>
    <hr>
    </div>
    <div class="container mB-5 mt-5">
        <div class="row">
              <div class="col-sm-3  ">
                <ol class=" p-0 aller_au_kt">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li width ="">
             <b>       <a class="text-white" href="{% url 'prier_celebrer'%}">  Pour Prier et célébrer   </a>
                    <ul>
                        
                    
                        <li> <a class="text-white" href="{% url 'equipe_animation_liturgique'%}">Equipe d'animation Liturgique</a> </li>
                        <li> <a class="text-white" href="{% url 'equipe_animation_paroissiale'%}">Equipe d'animation paroissiale</a>  </li>
                        <li> <a class="text-white" href="{% url 'chorale'%}"> Chorale </a></li>
                    
                    </ul>
                    </li>
                    <li>
                    <a class="text-white" href="{% url 'pour_en_aider'%}"> Pour s'entraider </a>
                    <ul>
                        
                    
                        <li> <a class="text-white" href="{% url 'conseil_economique_paroissiale' %}">Conseil Economique paroissial</a> </li>
                        <li> <a class="text-white" href="{% url 'dernier_de_eglise'%}">Dernier de l'Eglise</a>  </li>
                        <li> <a class="text-white" href="{% url 'secours_catholique'%}"> Secours Catholique </a></li>
                        <li> <a class="text-white" href="{% url 'société_saint_vincent_paul'%}"> Société de Saint-Vincent De-Paul </a></li>
                        <li> <a class="text-white" href="{% url 'CCFD'%}"> CCFD </a></li>
                        <li> <a class="text-white" href="{% url 'pour_sinformer'%}"> Pour s'informer : la feuille paroissiale </a></li>
                        <li> <a class="text-white" href="{% url 'chantier_cardinal'%}"> Chantiers du cardinal </a></li>
                    </ul>
                    </li>
                    <li>
                        <a class="text-white" href="{% url 'communaute_religieuse' %}">  Communautés religieuses </a>
                      
                    </li>
                    <li>
                        <a class="text-white" href="{% url 'guide_scouts'%}">   Guides et Scouts d'Europe  </a>
                      
                    </li>
                
                </b>
                 </ol>
              </div>
    
              <div class="col-sm-9   cathechisme">
    
                <div class="container p-3 text-justify mb-3 cathechisme">
    <img src="{% static 'images/secours.jpg'%}" alt=""> <br> <br>

    <h4 class="text-warning">Activités du Secours catholique à Villiers sur Marne</h4>
    <p>
        Le local du secours catholique se situe,<b> 2, place Albert Schweitzer -

        Tel : 01 49 41 98 13</b> -  dans le quartier des hautes noues.
        
        Nous sommes une équipe d’une trentaine de bénévoles qui animent différentes activités tout au long de la semaine et de l’année.
        
        L’équipe est rattachée à la délégation de Créteil présidée par une paroissienne, Villiéraine
        
         
    </p>
    <h4 class="text-warning">Nos activités</h4>
    <p>
    <b>   Lundi matin </b>  <br>

Nous assurons une permanence avec accueil de jour, pause café, petit déjeuner

Avec possibilité d’entretiens individuels, pour une écoute attentive des personnes et différentes aides aux démarches administratives.

Un bénévole se forme pour l’aide aux migrants.

Nous disposons d’un vestiaire qui permet de se vêtir, moyennant quelques euros selon nos disponibilités, il fonctionne grâce à la générosité des donateurs.

 Grâce aux dons des paroissiens, villierains nous disposons d’une petite épicerie sèche pour des dépannages alimentaires ponctuels.

 
<br>
<b> Mardi matin </b>
<br>
Accueil des migrants. Aide à la constitution de dossiers de régularisation. <br>

<b> Mardi après midi </b> <br>

 Accompagnement vers l'emploi. Sur rendez-vous 

 <br>

<b> Mercredi après midi </b>
<br>
 Accueil des enfants pour l’accompagnement scolaire du primaire.

 <br>

 <b>Jeudi après midi </b>

Accueil des adultes pour les cours d’alphabétisation et permanence pour l’aide à la recherche d’emploi.

 <br>
<br>
Une équipe de bénévoles organise des séjours en vacances d’été à la campagne pour les enfants de 6 ans jusqu’à l’adolescence dans une famille d’accueil du secours catholique local.

 <br>
<br>
Nous accompagnons également quelques personnes dans leur projet de vacances en famille : parents et enfants partent ensemble.
 <br> <br>
 <b>Nos actions ponctuelles :</b> <br> <br>
 L’équipe organise chaque année:
<br> 
 

- 2 braderies, une au printemps et l’autre en automne, au local du secours catholique.
<br>

- 1 fête de noël pour les enfants.
<br> <br>
<b>Nous participons :</b> <br> <br>
- A la kermesse paroissiale.

 <br> <br>

- Au forum des associations organisé par la ville en septembre.
<br> <br>
 

- A la fête des solidarités en lien avec le Conseil départemental.
<br> <br>
 

Nous remercions également les paroissiens pour leur générosité chaque 1er dimanche du mois. Les offrandes alimentaires sont un grand secours pour les personnes en précarité.
<br> <br>

Nous agissons également en collaboration avec les services de la mairie, les services sociaux et les autres associations caritatives présentent sur la ville de VILLIERS.
<br> <br>   
<b class="text-center">Du bonheur avec le Secours catholique</b> <br> <br>
Le Secours catholique, fondé en 1946 par Mgr Jean Rodhain, est un service de l’Eglise qui repose sur la charité, vertu présente dans l’Evangile.
<br> <br>
 

A Villiers-sur-Marne, une trentaine de bénévoles assurent la prise en charge de plusieurs activités auprès des familles, des personnes isolées ou démunies, des plus fragiles d’entre nous. La charité revêt encore bien des aspects et nous souhaitons faire connaître notre action auprès des enfants.

 <br> <br>

Le mercredi après-midi en période scolaire, une équipe de bénévoles assure le soutien scolaire et l’aide aux devoirs pour une vingtaine d’enfants élèves du primaire ou du collège.

 
<br> <br>
Depuis de nombreuses années, le Secours catholique permet aussi à des enfants de six ans jusqu’à l’adolescence de partir en vacances trois semaines en juillet à la campagne. Ainsi, en juillet dernier, treize enfants de Villiers sont allés dans les Deux-Sèvres, le Lot ou l’Aveyron où un réseau de bénévoles les a accueillis.

 <br> <br>

Au retour de leurs vacances en famille d’accueil, les enfants ont répondu à un petit questionnaire sur « Mes vacances ». Comme ils l’expriment à leur façon, ces séjours en famille d’accueil sont pour eux une découverte humaine et culturelle, et pour les parents un temps de repos et une valorisation personnelle.
<br> <br> <br>

<b> 
    Voici un florilège de leurs petites phrases :

 <br> <br>

 Qu’est-ce que tu penses avoir apporté à la famille qui t’a accueilli(e) ?
<br> <br> <br>
</b>
- « Je leur ai appris à faire la menthe au lait et le riz à la manière africaine. »

 <br> <br>
- « Pour moi, c’est comme ma seconde famille : j’aimerais toujours rester en contact avec eux. »

 
<br> <br>
- « Je le racontais plein de choses et surtout c’était la joie de vivre avec eux. »
<br> <br>
 

- « Je leur ai appris à faire les bananes plantin. »
<br> <br>
 

- « Je pense que ma présence leur apporte de la joie. »
<br> <br> <br>
<b>Qu’as-tu appris de ta famille d’accueil ? </b> <br> <br>
 
- « J’ai appris à jardiner, j’ai ramassé des fraises et des tomates. »
<br> <br>
 

- « J’ai appris à faire le gâteau arc-en-ciel et à faire du poney. »
<br> <br>
 

- « J’ai appris à nager. »

 <br> <br>

- « J’ai participé à la vente sur le marché et j’ai mis des bouchons aux bouteilles. »

 <br> <br>
 <b>Quel est ton moins bon souvenir ?</b> <br> <br>
 - « Quand il pleuvait… »
<br> <br>
 

- « Je n’ai pas de mauvais souvenirs. »

 <br><br>

- « Manger des légumes »

 
<br> <br>
- « Quand je suis revenu ! »

 <br> <br>
 <b>Quels sont tes meilleurs souvenirs de vacances ?</b>
<br> <br> <br>

- « Quand on est allé au Futuroscope. »

 <br> <br>

- « le 18 juillet, quand on m’a fêté mon anniversaire. »

 <br> <br>

- « Quand nous sommes partis en charrette pour visiter la ville et lorsque j’ai nourri les vaches et les moutons. »

 <br> <br>

- « J’ai visité Niort et on a mangé des glaces. »

 <br> <br>

- « J’ai été tous les jours à la piscine ou à la mer. Je me suis fait des copains et des copines et j’ai fait plein de manège. »

 <br> <br>

- « J’ai aimé le jour où on est parti en camping-car. »
<br> <br>
 

 

 

Voilà la preuve que ces séjours apportent beaucoup aux enfants et à leur famille. Certains, devenus adultes, gardent des contacts avec leur famille d’accueil pour le plus grand bonheur de tous.


 <br> <br>

Sur Villiers, l’équipe est composée de 16 bénévoles qui ont rejoint l’association selon leurs compétences et disponibilités.

Lundi de 9 heures à 12 heures (3, place Albert Schweitzer – Villiers –     01 49 41 98 13 ) : accueil, écoute, soutien moral et accompagnement dans les démarches administratives.

Mercredi de 14 heures à 16 heures (à l’Escale) : Soutien scolaire

Jeudi de 14h30 à 16h30 (3, place Albert Schweitzer) : Alphabétisation

 <br> <br> 

Collecte alimentaire :  Aux messes du 1er samedi et dimanche de chaque mois

 

 
<br> <br> 
 

Depuis 65 ans, le Secours Catholique - grâce à vos dons - mène le combat contre l'exclusion sous toutes ses formes. Sa mission : "faire rayonner la Charité chrétienne par la mise en œuvre d'une solidarité concrète entre tous".

 


</p>
                </div>        
    </div>
    
    </div>
    
    </div>
{% endblock %}