{% extends 'template_base.html'%}


{% block modif_horaire_messe %} 

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-6">
              <div class="card mt-2 ">
                <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token%}
                        {{form}}
                        <br>
                        <button class="btn btn-primary">Modifier</button>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
    
{%endblock%}